# You can populate these after creating an App here: https://apps.twitter.com
twitter_consumer_key: ""
twitter_consumer_secret: ""

twitter_access_token: ""
twitter_access_token_secret: ""

twitter_terms_to_track: "python"
